{% extends 'base.html' %}

{% block title %}
About Page
{% endblock %}


{% block content %}
<div class="container jumbotron">
  <h1 class="display-4"><small>About jaupy</small></h1>
      <p class="lead">
        This is test website I made using the a Python web framework Flask. This whole thing doesn't do much for now. But I hope an idea pops up someday.
      </p>
  <hr class="my-4">
  <p>We all have to start somewhere somehow.<br>
    "The most necessary step in learning how to swim is to be in water."</p>
</div>
{% endblock %}